{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'm-bluegrey-green.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>{{ title }}</title>
</head>
<body> 

<header>
{% block navbar %}

{% if user.is_authenticated %}

<nav>
    <div class="nav-wrapper">
        <a href="{% url 'index' %}" class="brand-logo bold">chirieshare</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down bold">
            <li><a href="{% url 'adauga' %}" class="waves-effect waves-light"><i class="material-icons left">add_circle</i> ADAUGA ANUNT</a></li>
            <li><a href="{% url 'utilizator' %}" class="waves-effect waves-light"><i class="material-icons left">message</i> MESAJE <span class="new badge green">4</span></a></li>
            <li><a href="{% url 'utilizator' %}" class="waves-effect waves-light"><i class="material-icons left">favorite</i> FAVORITE</a></li>
            <li><a href="{% url 'utilizator' %}" class="waves-effect waves-light"><img class="circle" src="/media/{{ user.imagine }}" onerror="this.src='http://placeskull.com/150/150/4caf50'"> 
                {% if user.first_name  %} 
                    {{ user.first_name }}
                {% else %}
                    <span id="fname1">{{ user.email }}</span>
                    <script>
                        document.getElementById("fname1").innerText = document.getElementById("fname1").innerText.split("@")[0];
                    </script>
                {% endif %}
            </a></li>
            <li><a href="{% url 'delogare' %}" class="waves-effect waves-light"><i class="material-icons left">exit_to_app</i> LOGOUT</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav blue-grey darken-2" id="mobile-demo">

<div class="sidenav-content">   

    <i class="sidenav-close material-icons right white-text waves-effect waves-light clickable">close</i>
    
    <div class="user-view">
        <a href="{% url 'utilizator' %}"><img class="circle" src="/media/{{ user.imagine }}" onerror="this.src='http://placeskull.com/100/100/4caf50'"></a>
        <a href="{% url 'utilizator' %}"><h6 class="white-text bold">
            {% if user.first_name  %} 
                {{ user.first_name }}
            {% else %}
                <span id="fname2">{{ user.email }}</span>
                <script>
                    document.getElementById("fname2").innerText = fname2.innerText.split("@")[0];
                </script>
            {% endif %}
        </h6></a>
        <a href="{% url 'utilizator' %}"><span class="blue-grey-text text-lighten-4">
            {% if user.ocupatie %}
                {{ user.ocupatie }},   
            {% endif %}

            {% if user.sex %}
                {{ user.sex }},
            {% endif %}

            {% if user.varsta %}
                {{ user.varsta }} ani 
            {% endif %}
        </span></a>
    </div>

    
    <div style="margin-bottom:2rem;"></div>

    <ul class="bold" id="snav">
        <div class="line blue-grey lighten-4"></div>
        <li><a href="{% url 'adauga' %}" class="waves-effect waves-light"><i class="material-icons left white-text">add_circle</i><span class="white-text bold">ADAUGA ANUNT</span></a></li>
        <div class="line blue-grey lighten-4"></div>
        <li><a href="{% url 'utilizator' %}" class="waves-effect waves-light"><i class="material-icons left white-text">message</i><span class="white-text bold">MESAJE <span class="new badge default green">4</span></a></span></a></li>
        <div class="line blue-grey lighten-4"></div>
        <li><a href="{% url 'utilizator' %}" class="waves-effect waves-light"><i class="material-icons left white-text">favorite</i><span class="white-text bold">FAVORITE</span></a></li>
        <div class="line blue-grey lighten-4"></div>
        <li><a href="{% url 'delogare' %}" class="waves-effect waves-light"><i class="material-icons left white-text">exit_to_app</i> <span class="white-text bold">LOGOUT</span></a></li>
        <div class="line blue-grey lighten-4"></div>
    </ul>

</div>

</ul>


{% else %}

<nav>
    <div class="nav-wrapper">
        <a href="{% url 'index' %}" class="brand-logo bold">chirieshare</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{% url 'autentificare' %}" class="btn green waves-effect waves-light bold">Intra in cont</a></li>
            <!-- <li><a href="" class="btn blue waves-effect waves-light darken-1 bold">Intra cu Facebook</a></li> -->
        </ul>
    </div>
</nav>
<ul class="sidenav blue-grey darken-2" id="mobile-demo">
    <div class="sidenav-content">    
    <i class="sidenav-close material-icons right white-text waves-effect waves-light clickable">close</i>
    <div style="margin-bottom:4rem;"></div>
    <h6 class="blue-grey-text text-lighten-4 bold">Pentru a putea <span class="white-text">ADAUGA UN ANUNT</span> trebuie sa ai un cont de utilizator</h6>
    <div style="margin-bottom:4rem;"></div>
    <div class="flex-center">
        <a href="{% url 'autentificare' %}" class="btn-large green waves-effect waves-light bold">Intra in cont</a>
        <div style="margin-bottom:2rem;"></div>
        <!-- <a href="" class="btn waves-effect waves-light blue darken-1 bold">INTRA CU FACEBOOK</a> -->
    </div>

    </div>
</ul>

{% endif %}
{% endblock %}
</header>


<div id="loading" class="grey lighten-5 flex-center">
<div class="preloader-wrapper active">
<div class="spinner-layer spinner-green-only">
<div class="circle-clipper left">
<div class="circle"></div>
</div><div class="gap-patch">
<div class="circle"></div>
</div>
<div class="circle-clipper right">
<div class="circle"></div>
</div>
</div>
</div>
</div>



<main>
{% block content %}

    <h1>This content from base.html will be overwritten</h1>

{% endblock %}

<a id="up" class="btn-floating btn-large waves-effect waves-light blue-grey"><i class="material-icons">arrow_upward</i></a>

</main>


<footer class="page-footer">
    <div class="container">
        <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">chirieshare.ro</h5>
            <p class="grey-text text-lighten-4">Gaseste camere de inchiriat sau apartamente acolo unde iti doresti.</p>
        </div>
        <div class="col l4 offset-l2 s12">
            <!-- <h5 class="white-text">Link-uri utile</h5> -->
            <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Politica Cookies</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Politica de Confidentialitate</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Termeni si Conditii</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Intrebari frecvente</a></li>
            </ul>
        </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <span>© 2020 Toate drepturile rezervate chirieshare.ro</span> 
            <div class="right">
                <a class="grey-text text-lighten-4" href="#!">Raporteaza o problema!</a>
            </div>
        </div>
    </div>
</footer>



<script src="{% static 'materialize.js' %}"></script>

<script>

"use-strict";
M.AutoInit();

// Show loading circle while page is loading
document.body.onload = () => {
    document.body.classList.add("grey");
    document.body.classList.add("lighten-5");
    document.body.style.overflow = "auto";
    document.getElementById("loading").className = "grey lighten-5 none";
}

// Back to top button handler
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    document.getElementById("up").style.display = "block";
    } else {
    document.getElementById("up").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}

document.getElementById("up").addEventListener("click", topFunction);

</script>

<script src="{% static 'mithril.js' %}"></script>


<!-- Show a toast for the requested info -->
{% if messages %}
{% for message in messages %}
<span class="none" id="flash">{{ message }} </span>
<span class="none" id="tag">{{ message.tags }}</span>
{% endfor %}

<script>

let msg = document.getElementById("flash").innerText;
let tag = document.getElementById("tag").innerText;

if (tag === 'success'){
    var cls = 'green bold';
} else {
    var cls = 'red lighten-1 bold';
}

function dismissToasts(){
    M.Toast.dismissAll();
}

let toastHTML = `<span style="margin-right:1rem;">${msg}</span><i onclick="dismissToasts();" class="material-icons white-text">close</i>`;
M.toast({html: toastHTML, classes: cls, displayLength:6000});


</script>
{% endif %}


</body>
</html>