{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="listing-info">
        
    <div class="image-carousel">
        <h6 class="flow-text bold">
                {{anunt.tip_imobil}} {% if anunt.camere_libere == '1' %}{{ anunt.camere_libere }} camera. {% else %}{{ anunt.camere_libere }} camere.  {% endif %}{{ anunt.localitate }}, {{ anunt.zona }} <span class="euro green-text">/{{ anunt.pret }} </span>
            <span class="blue-grey-text text-darken-2 badge default right">Postat la {{ anunt.published_date }}</span>
        </h6>

        <img src="/media/{{ anunt.img1 }}">
        <img src="/media/{{ anunt.img2 }}" onerror="this.remove();">
        <img src="/media/{{ anunt.img3 }}" onerror="this.remove();">
        <img src="/media/{{ anunt.img4 }}" onerror="this.remove();">   
        
        <span class="next"></span>
        <span class="previous"></span>

    </div>



    <div id="contact-info" class="blue-grey lighten-5">
        <a href="utilizator.html"><img class="circle waves-effect waves-light" src="/media/{{ utilizator.imagine }}" onerror="this.src='http://placeskull.com/100/100/4caf50'">
        <h6 class="grey-text text-darken-4 bold">{{ utilizator.first_name }}</h6>
        </a>
        <div class="line blue-grey darken-2" style="margin-bottom: 1rem;"></div>  
        <div id="contact">
            <button class="btn waves-effect waves-light"><i class="material-icons">local_phone</i><span class="btn-text">{{ utilizator.telefon }}</span></button>
            <button class="btn waves-effect waves-light"><i class="material-icons">email</i><span class="btn-text">{{ utilizator.email }}</span></button>
            <button class="btn waves-effect waves-light"><i class="material-icons">message</i><span class="btn-text">Trimite mesaj</span></button>
        </div>
    </div>


    <div id="description" class="blue-grey lighten-5">
        <h6 class="bold">Descriere</h6>
        <div class="line blue-grey darken-2"></div>
        <h6>{{ anunt.descriere_anunt }}</h6>
    </div>

    <!-- JS info highlights extracts -->
    <div id="other-details" class="blue-grey lighten-5">
        <h6 class="bold">Alte detalii</h6>
        <div class="line blue-grey darken-2" style="margin-bottom:1rem;"></div>
        <div class="chip blue-grey darken-2 white-text">{{ anunt.get_tip_imobil_display }}</div>
        <div class="chip blue-grey darken-2 white-text">{{ anunt.get_compartimentare_display }}</div>
        <div class="chip blue-grey darken-2 white-text">{{ anunt.camere_libere }} {% ifequal anunt.camere_libere "1"  %} camera libera {% else %} camere libere {% endifequal %}</div>
        <div class="chip blue-grey darken-2 white-text">{{ anunt.camere_ocupate }} {% ifequal anunt.camere_ocupate "1"  %} camera ocupata {% else %} camere ocupate {% endifequal %}</div>
        <div class="chip blue-grey darken-2 white-text" id="facilitati">{{ anunt.facilitati }}</div>
    </div>


    <div id="colegi-de-share" class="blue-grey lighten-5">
        <h6 class="bold">Colegi de share*</h6>
        <div class="line blue-grey darken-2" style="margin-bottom:1rem;"></div>
        <a href="utilizator.html"><div class="chip blue-grey darken-2 white-text"><img src="../img/alin.jpg">Cosmin Tana</div></a>
        <a href="utilizator.html"><div class="chip blue-grey darken-2 white-text"><img src="../img/alin.jpg">Robert Bucur</div></a>
        <a title="vreau si eu sa impart chiria pentru acest imobil" class="btn-floating btn waves-effect waves-light green"><i class="material-icons">add</i></a>
        <div style="margin-top:3rem;"></div>
        <span class="grey-text text-darken-1">*cei care ar vrea sa imparta chiria pentru acest imobil</span>
    </div>

    </div>










<script src="{% static 'base_app/scripts.js' %}"></script>
<link rel="stylesheet" href="{% static 'base_app/styles.css' %}">

{% endblock %}