{% extends "base.html" %}
{% load static %}

{% block content %}



<div id="filtre" class="container filters grey lighten-5">


<div class="white radius pada-2">

<div class="row">
    <div class="input-field col s12 m6">
        <input placeholder="Iasi, Bucuresti, Timisoara..." id="oras" type="text" class="validate">
        <label for="oras">Localitate</label>
    </div>
    
    <div class="input-field col s12 m6">
        <input placeholder="ex: 200 euro" id="oras" type="tel" class="validate">
        <label for="oras">Buget &euro;</label>
    </div>

    <div class="col">
        <label>
            <input class="with-gap" name="group3" type="radio" checked />
            <span>caut camere</span>
        </label>

    </div>

    <div class="col">
        <label>
            <input class="with-gap" name="group3" type="radio"/>
            <span>caut apartament</span>
        </label>
    </div>
    </div>



    <!-- More filters -->

    <span id="morefilters" class="mtop-2 waves-effect waves-grey btn-flat btm-right grey-text underline">MAI MULT</span>

    <div id="showmorefilters" class="row none">

        <div class="mtop-2"></div>
        <div class="divider"></div>
        <div class="mtop-2"></div>

    <div class="col s12 m6">
        <div class="row">

            <div class="col s12">
                <label>
                    <input type="checkbox" class="filled-in"/>
                    <span>decomandat</span>
                </label>         
            </div>
                
            <div class="col s12">
                <label>
                    <input type="checkbox" class="filled-in"/>
                    <span>accepta fumatori</span>
                </label>         
            </div>
                
            <div class="col s12">
                <label>
                    <input type="checkbox" class="filled-in"/>
                    <span>accepta animale de companie</span>
                </label>     
            </div>
        </div>
    </div>


    <div class="col s12 m6">
        <div class="row">
            <div class="col s12">
                <label>
                    <input type="checkbox" class="filled-in"/>
                    <span>doar fete</span>
                </label>     
            </div>
        
            <div class="col s12">
                <label>
                    <input type="checkbox" class="filled-in"/>
                    <span>doar baieti</span>
                </label>     
            </div>
        
        
            <div class="col s12">
                <label>
                    <input type="checkbox" class="filled-in"/>
                    <span>fete/baieti</span>
                </label>     
            </div>
        </div>
    </div>
    
    
    <div class="col s12 m6">
        <div class="row">
            <div class="col s12">
                <label>
                    <input type="checkbox" class="filled-in"/>
                    <span>între 18-35 ani</span>
                </label>     
            </div>
        
            <div class="col s12">
                <label>
                    <input type="checkbox" class="filled-in"/>
                    <span>între 35-45 ani</span>
                </label>     
            </div>
        
            <div class="col s12">
                <label>
                    <input type="checkbox" class="filled-in"/>
                    <span>între 45-XX ani</span>
                </label>     
            </div>
        </div>
    </div>

    <div class="col s12 m6">
        <div class="row">
            <div class="col s12">
                <label>
                    <input type="checkbox" class="filled-in"/>
                    <span>studenţi / altceva</span>
                </label>     
            </div>
        
            <div class="col s12">
                <label>
                    <input type="checkbox" class="filled-in"/>
                    <span>lucrează in 2/3/n schimburi</span>
                </label>     
            </div>
        
            <div class="col s12">
                <label>
                    <input type="checkbox" class="filled-in"/>
                    <span>lucrează un singur schimb</span>
                </label>     
            </div>
        </div>
    </div>

</div>

</div>


</div>


<div class="flex-center">
    <span id="filtertoggletext" class="bold blue-grey-text text-darken-2 clickable">Ascunde filtrele</span>
    <i id="filtertogglearrow" class="medium material-icons blue-grey-text clickable">arrow_drop_up</i>
</div>







<script src="{% static 'base_app/scripts.js' %}"></script>
<link rel="stylesheet" href="{% static 'base_app/styles.css' %}">

{% endblock %}