{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="filtre" class="container filters grey lighten-5">


<div class="white radius pada-2">

<div class="row">
    <div class="input-field col s12 m6">
        <input placeholder="Iasi, Bucuresti, Timisoara..." id="oras" type="text" class="validate">
        <label for="oras">Localitate</label>
    </div>
    
    <div class="input-field col s12 m6">
        <input placeholder="ex: 200 euro" id="oras" type="tel" class="validate">
        <label for="oras">Buget &euro;</label>
    </div>

    <div class="col">
        <label>
            <input class="with-gap" name="group3" type="radio" checked />
            <span class="flow-text">caut camere</span>
        </label>

    </div>

    <div class="col">
        <label>
            <input class="with-gap" name="group3" type="radio"/>
            <span class="flow-text">caut apartament</span>
        </label>
    </div>
    </div>



    <!-- More filters -->

    <span id="morefilters" class="mtop-2 waves-effect waves-grey btn-flat btm-right grey-text underline">MAI MULT</span>

    <div id="showmorefilters" class="row none">

        <div class="mtop-2"></div>
        <div class="divider"></div>
        <div class="mtop-2"></div>

    <div class="col s12 m6">
        <div class="row">

            <div class="col s12">
                <label>
                    <input type="checkbox" class="filled-in"/>
                    <span>decomandat</span>
                </label>         
            </div>
                
            <div class="col s12">
                <label>
                    <input type="checkbox" class="filled-in"/>
                    <span>accepta fumatori</span>
                </label>         
            </div>
                
            <div class="col s12">
                <label>
                    <input type="checkbox" class="filled-in"/>
                    <span>accepta animale de companie</span>
                </label>     
            </div>
        </div>
    </div>


    <div class="col s12 m6">
        <div class="row">
            <div class="col s12">
                <label>
                    <input type="checkbox" class="filled-in"/>
                    <span>doar fete</span>
                </label>     
            </div>
        
            <div class="col s12">
                <label>
                    <input type="checkbox" class="filled-in"/>
                    <span>doar baieti</span>
                </label>     
            </div>
        
        
            <div class="col s12">
                <label>
                    <input type="checkbox" class="filled-in"/>
                    <span>fete/baieti</span>
                </label>     
            </div>
        </div>
    </div>
    
    
    <div class="col s12 m6">
        <div class="row">
            <div class="col s12">
                <label>
                    <input type="checkbox" class="filled-in"/>
                    <span>între 18-35 ani</span>
                </label>     
            </div>
        
            <div class="col s12">
                <label>
                    <input type="checkbox" class="filled-in"/>
                    <span>între 35-45 ani</span>
                </label>     
            </div>
        
            <div class="col s12">
                <label>
                    <input type="checkbox" class="filled-in"/>
                    <span>între 45-XX ani</span>
                </label>     
            </div>
        </div>
    </div>

    <div class="col s12 m6">
        <div class="row">
            <div class="col s12">
                <label>
                    <input type="checkbox" class="filled-in"/>
                    <span>studenţi / altceva</span>
                </label>     
            </div>
        
            <div class="col s12">
                <label>
                    <input type="checkbox" class="filled-in"/>
                    <span>lucrează in 2/3/n schimburi</span>
                </label>     
            </div>
        
            <div class="col s12">
                <label>
                    <input type="checkbox" class="filled-in"/>
                    <span>lucrează un singur schimb</span>
                </label>     
            </div>
        </div>
    </div>

</div>

</div>


</div>


<div class="flex-center">
    <span id="filtertoggletext" class="bold blue-grey-text text-darken-2 clickable">Ascunde filtrele</span>
    <i id="filtertogglearrow" class="medium material-icons blue-grey-text clickable">arrow_drop_up</i>
</div>

<!-- Content -->

<div class="listings">

    {% if anunturi %}
        {% for anunt in anunturi %}
        <div class="listing z-depth-2">
            <a href="/detalii-anunt/{{ anunt.id }}"><img src="/media/{{ anunt.img1 }}"> 
            <h6 class="listing-title blue-grey lighten-5 bold blue-grey-text text-darken-1">{{anunt.tip_imobil}} {% if anunt.camere_libere == '1' %}{{ anunt.camere_libere }} camera. {% else %}{{ anunt.camere_libere }} camere.  {% endif %}{{ anunt.localitate }}, {{ anunt.zona }}</h6>
            </a>
            <i class="material-icons small waves-effect waves-light fav blue-grey-text text-lighten-2">favorite_border</i>
            <span class="price green lighten-1 white-text bold">{{ anunt.pret }} </span>      
        </div>
        {% endfor %}
    {% else %}
        <div class="flex-center">
            <h5 style="margin-top:3rem;margin-bottom:2rem;" class="blue-grey-text text-darken-1 bold">Nu este disponibil nici un anunt momentan...</h5>
            <a href="{% url 'adauga' %}" class=" btn green waves-effect waves-light"><i class="material-icons left white-text">add_circle</i><span class="white-text bold">ADAUGA UN ANUNT</span></a>
        </div>
    {% endif %}
    
</div>


{% if anunturi.has_other_pages %}

<ul class="pagination padv-2">
    {% if anunturi.has_previous %}
        <li><a href="?page={{ anunturi.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
    {% else %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    {% endif %}

    {% for i in anunturi.paginator.page_range %}
        {% if anunturi.number == i %}
            <li class="active"><a href="#!">{{ i }}</a></li>
        {% else %}
            <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
    {% endfor %}
    
    {% if anunturi.has_next %}
        <li class="waves-effect"><a href="?page={{ anunturi.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
    {% else %}
        <li class="waves-effect disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    {% endif %}
</ul>


{% endif %}







<script>

// Specific scripts for current app
"use strict";



// Apply a more depth shadow to articles when hovered

try {

var listings = document.querySelectorAll(".listing");

for (var i = 0; i < listings.length; i++) {

    (function(index){
        listings[i].onmouseover = function(){
            listings[index].className = "listing z-depth-3";
        }   
        
        listings[i].onmouseout = function(){
            listings[index].className = "listing z-depth-2";
        }        
        })(i);

}

} catch (error) {
}



// Toggle filters  

try {

var droparrow = document.getElementById("filtertogglearrow");
var droptext = document.getElementById("filtertoggletext");
var filtre = document.getElementById("filtre");

droparrow.addEventListener("click", function(event){
    
    event.preventDefault();

    if (droparrow.innerText == "arrow_drop_down"){
    droparrow.innerText = "arrow_drop_up";
    droptext.innerText = "Ascunde filtrele";
    filtre.className = "container filters grey lighten-5";
    }else if (droparrow.innerText == "arrow_drop_up"){
    droparrow.innerText = "arrow_drop_down";
    droptext.innerText = "Arata filtrele";
    filtre.className = "none";
    }

}, false);


} catch (error) {
}

// Toggle more filters

try {

var more = document.getElementById("morefilters");
var morefilters = document.getElementById("showmorefilters");

more.addEventListener("click", function(){

    if (more.innerText == "MAI MULT"){
    more.innerText = "MAI PUTIN";
    morefilters.className = "row";
    }else if (more.innerText == "MAI PUTIN"){
    more.innerText = "MAI MULT";
    morefilters.className = "row none";
    }

}, false);

} catch (error) {
}

</script>

<script src="{% static 'favourites.js' %}"></script>

{% endblock %}