{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container" style="margin-top:4rem;width:380px;">

    <div class="card range-width-35">
        <div class="card-tabs">
            <ul class="tabs" style="overflow: hidden;">
            <li class="tab"><a href="#login"class="active blue-grey-text bold">Intra in cont</a></li>
            <li class="tab"><a href="#signin" id="modifpass" class="blue-grey-text bold">Creeaza un cont</a></li>
            </ul>
        </div>
        <div class="card-content"> 
            <div id="login">
                <div class="row">
            
                    <form method="POST" action="{% url 'logare' %}">
                        {% csrf_token %}

                        <div class="input-field col s12">
                            {{ form.email }}
                            <label>Email</label>
                        </div>
    
                        <div class="input-field col s12">
                            {{ form.password }}
                            <label>Parola</label>
                        </div>  
                                                
                        <div class="block center-align">
                            <button id="log" type="submit" class="btn-large bold">Intră in cont</button>
                            <div class="col s12" style="margin-top:1rem;">
                            <a href="#!" id="lognereusit" class="blue-grey-text underline">Nu reusesc sa ma loghez...</a>
                            </div>
                        </div>
                        
                    </form>

                </div>

            </div>

            <div id="signin">
            <form method="POST" action="{% url 'inregistrare' %}">
                    <div class="row">
                        {% csrf_token %}

                        <div class="input-field col s12">
                            {{ form.email }}
                            <label>Email</label>
                        </div>

                        <div class="input-field col s12">
                            {{ form.password }}
                            <label id="pass">Parola (minim 8 caractere)</label>
                        </div>  
                                    
                        <div class="input-field col s12">
                            <input type="password"  class="validate" placeholder="">
                            <label id="confpass">Confirma parola</label>
                        </div>

                        <div class="block center-align">
                            <button id="reg" type="submit" class="btn-large green lighten-1 bold">Creează cont</button>
                            <div class="col s12" style="margin-top:1rem;">
                                <label>
                                    <input type="checkbox" class="filled-in" checked/>
                                    <span>Sunt de acord cu <a href="" class="blue-grey-text underline">Termenii şi Condiţiile</a></span>
                                </label>         
                            </div>
                        </div>

                </div>
                </form>
 
            </div>
        </div>
    </div>

</div>



<script>
    
// Specific JS for users app
"use strict";

let el_body = document.getElementsByTagName("body")[0];
el_body.className += " city grey lighten-4";


let emails = document.querySelectorAll('input[type=email]');
let passwords = document.querySelectorAll('input[type=password]');

emails[0].value = "";
emails[1].value = "";

passwords[0].value = "";
passwords[1].value = "";
passwords[2].value = "";

let register = document.getElementById("reg");

register.addEventListener("click", (event) => {
    if(!(passwords[1].value == passwords[2].value && passwords[1].value.length >= 8  && passwords[2].value.length >= 8)){
        if (document.getElementById("modifpass").innerText !== "SCHIMBARE PAROLA") {
            M.toast({html: 'Parolele nu se potrivesc sau nu ai minim 8 caractere!', classes: 'red lighten-1'});
            event.preventDefault();
            passwords[1].value = "";
            passwords[2].value = "";
            passwords[1].focus();
        }
    }
}, false);


// TODO: Resetare parola 

let log_nereusit = document.getElementById("lognereusit");
    
log_nereusit.addEventListener("click", (ev) => {
    ev.preventDefault();
   
    let el_modif = document.getElementById("modifpass");
    el_modif.click();
    el_modif.innerText = "SCHIMBARE PAROLA";
    document.getElementById("pass").innerText = "Codul primit prin email";
    document.getElementById("confpass").innerText = "Parola noua";
    document.getElementById("reg").innerText = "TRIMITE-MI CODUL";
    document.getElementById("reg").onclick = (event) => {
        M.toast({html: 'Ti-am trimis un cod prin email!'});
        event.preventDefault();
        m.request({
            method: "POST",
            action: "/autentificare/resetare/",
        }).then((result) => {
            document.getElementById("reg").innerText = "SCHIMBA PAROLA";
        });
        
    };
}, false);


</script>



{% endblock %}

