{% extends "base.html" %}
{% load static %}


{% block content %}


<ul class="collection">

<li class="collection-item avatar">
    <img class="circle" src="/media/{{ user.imagine }}" onerror="this.src='http://placeskull.com/100/100/4caf50'">
    <span class="title">Climente Alin</span>
    <p>Inginer, M, 23 ani</p>
    <a href="#!" class="secondary-content"><span class="new badge green">4</span></a>
</li>

<li class="collection-item avatar">
    <img class="circle" src="/media/{{ user.imagine }}" onerror="this.src='http://placeskull.com/100/100/4caf50'">
    <span class="title">Octavian Melu</span>
    <p>Inginer, M, 23 ani</p>
    <a href="#!" class="secondary-content"><span class="new badge green">4</span></a>
</li>

<li class="collection-item avatar">
    <img class="circle" src="/media/{{ user.imagine }}" onerror="this.src='http://placeskull.com/100/100/4caf50'">
    <span class="title">Ciupligan Daniel</span>
    <p>Inginer, M, 23 ani</p>
    <a href="#!" class="secondary-content"><span class="new badge green">4</span></a>
</li>

<li class="collection-item avatar">
    <img class="circle" src="/media/{{ user.imagine }}" onerror="this.src='http://placeskull.com/100/100/4caf50'">
    <span class="title">Dragos Valeriu</span>
    <p>Inginer, M, 23 ani</p>

    <a href="#!" class="secondary-content"><span class="new badge green">4</span></a>
</li>

</ul>















<script src="{% static 'clipboard.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'users/styles.css' %}">
<script src="{% static 'users/scripts.js' %}"></script>

<style>

    ul {
        min-width: 300px;
    }

</style>


{% endblock %}