{% extends "base.html" %}
{% load static %}


{% block content %}



{% if utilizator_share %}
    
    {% if user.is_authenticated %}
        <!-- <p class="white-text bold">user page from anunt, curent user is auth</p> -->

        <div class="card blue-grey lighten-5 w640">
            <div class="card-content flex-center">

                <img class="circle" src="/media/{{ utilizator_share.imagine }}" onerror="this.src='http://placeskull.com/100/100/4caf50'">
                <span class="card-title">
                    {% if utilizator_share.first_name  %} 
                        {{ utilizator_share.first_name }}
                    {% else %}
                        <span id="fname">{{ utilizator_share.email }}</span>
                        <script>
                            let fname = document.getElementById("fname");
                            let name = fname.innerText.split("@")[0];
                            fname.innerText = name;
                        </script>
                    {% endif %}
                </span>
                <span>
                    {% if utilizator_share.ocupatie %}
                        {{ utilizator_share.ocupatie }},   
                    {% endif %}

                    {% ifnotequal utilizator_share.sex "N" %}
                        {{ utilizator_share.sex }},
                    {% endifnotequal %}

                    {% if utilizator_share.varsta %}
                        {{ utilizator_share.varsta }} ani 
                    {% endif %}
                </span>
            
                <div class="line blue-grey darken-2" style="margin-top:0.5rem;width:100%;margin-bottom:2rem;"></div>  

                <input type="text" name="mesaj_client" id="mesaj_client" placeholder="Scrie un mesaj"/>    
                <label style="margin-top:1rem;">Enter pentru a trimite</label>    

            </div>
            <div class="card-action">
                <div class="row">
                    {% if utilizator_share.telefon %}
                        <div class="col s12 m6">
                            <div style="margin-top: 1rem;">
                                <button style="width: 100%" data-clipboard-text="{{ utilizator_share.telefon }}" class="btn waves-effect waves-light bold tooltipped" data-position="top" data-tooltip="click pentru copy"><i class="tiny material-icons">phone</i></button>
                            </div>
                        </div>
                    {% else %}
                        <div class="col s12 m6">
                            <div style="margin-top: 1rem;">
                                <button disabled style="width: 100%" data-clipboard-text="{{ utilizator_share.telefon }}" class="btn waves-effect waves-light bold tooltipped" data-position="top" data-tooltip="click pentru copy"><i class="tiny material-icons">phone</i></button>
                            </div>
                        </div>
                    {% endif %}

                    <div class="col s12 m6">
                        <div style="margin-top: 1rem;">
                            <button style="width: 100%" data-clipboard-text="{{ utilizator_share.email }}" class="btn waves-effect waves-light bold tooltipped" data-position="top" data-tooltip="click pentru copy"><i class="tiny material-icons">email</i></button>
                        </div>                
                    </div>

                </div>
            </div>
        </div>


    {% else %}
        <!-- <p class="white-text bold">user page from anunt, curent user is NOT auth</p> -->
        <div class="card blue-grey lighten-5 w640" style="margin-top:5rem;">
            <div class="card-content flex-center">
                <a href="{% url 'autentificare' %}" class="btn-large green waves-effect waves-light bold">Intra in cont</a>
                <label style="margin-top:1rem;">Logheaza-te pentru a-i putea trimite un mesaj</label>
            </div>
        </div>
    {% endif %}


{% else %}


    {% if user.is_authenticated %}

        <!-- <p class="white-text bold">user page, curent user is auth</p> -->

        <div class="card blue-grey lighten-5 w640">
            <div class="card-content flex-center">

                <img class="circle" src="/media/{{ user.imagine }}" onerror="this.src='http://placeskull.com/100/100/4caf50'">
                <span class="card-title">
                    {% if user.first_name  %} 
                        {{ user.first_name }}
                    {% else %}
                        <span id="fname">{{ user.email }}</span>
                        <script>
                            let fname = document.getElementById("fname");
                            let name = fname.innerText.split("@")[0];
                            fname.innerText = name;
                        </script>
                    {% endif %}
                </span>
                <span>
                    {% if user.ocupatie %}
                        {{ user.ocupatie }},   
                    {% endif %}

                    {% ifnotequal user.sex "N" %}
                        {{ user.sex }},
                    {% endifnotequal %}

                    {% if user.varsta %}
                        {{ user.varsta }} ani 
                    {% endif %}
                </span>
            
            </div>
            <div class="card-action">
                <div class="row">
                    {% if user.telefon %}
                        <div class="col s12 m4">
                            <div style="margin-top: 1rem;">
                                <button style="width: 100%" data-clipboard-text="{{ user.telefon }}" class="btn waves-effect waves-light bold tooltipped" data-position="top" data-tooltip="click pentru copy"><i class="tiny material-icons">phone</i></button>
                            </div>
                        </div>
                    {% else %}
                        <div class="col s12 m4">
                            <div style="margin-top: 1rem;">
                                <button disabled style="width: 100%" data-clipboard-text="{{ user.telefon }}" class="btn waves-effect waves-light bold tooltipped" data-position="top" data-tooltip="{{ user.telefon }}"><i class="tiny material-icons">phone</i></button>
                            </div>
                        </div>
                    {% endif %}

                    <div class="col s12 m4">
                        <div style="margin-top: 1rem;">
                            <button style="width: 100%" data-clipboard-text="{{ user.email }}" class="btn waves-effect waves-light bold tooltipped" data-position="top" data-tooltip="{{ user.email }}"><i class="tiny material-icons">email</i></button>
                        </div>                
                    </div>

                    <div class="col s12 m4">
                        <div style="margin-top: 1rem;">
                            <button style="width: 100%" class="btn waves-effect waves-light bold tooltipped" data-position="top" data-tooltip="actualizeaza cont"><i class="tiny material-icons">edit</i></button>
                        </div>                
                    </div>

                </div>
            </div>
        </div>





    {% else %}

        <div class="card blue-grey lighten-5 w640" style="margin-top:5rem;">
            <div class="card-content flex-center">
                <a href="{% url 'autentificare' %}" class="btn-large green waves-effect waves-light bold">Intra in cont</a>
                <label style="margin-top:1rem;">Logheaza-te pentru a-i putea trimite un mesaj</label>
            </div>
        </div>

    {% endif %}

{% endif %}









<style>

.w640 {
    max-width: 640px;
    min-width: 300px;
    margin-top:2rem;
}

@media (max-width: 639px){
    .w640, #carouselContainer {
        width: 100vw;
    }
}


main {
    display: block;
    margin: 0 auto;
}

</style>




<script src="{% static 'clipboard.min.js' %}"></script>


<script>

"use strict";

document.addEventListener("DOMContentLoaded", () => {

let el_body = document.getElementsByTagName("body")[0];
el_body.className += " city grey lighten-4";


// Hide mesaje, vizualizari, din sidenav si topnav

let nav = document.getElementById("nav-mobile");

nav.children[1].style.display = "none";
nav.children[2].style.display = "none";
nav.children[3].style.display = "none"; 


let el_ulnav = document.getElementById("snav");

el_ulnav.children[3].style.display = "none";
el_ulnav.children[4].style.display = "none";
el_ulnav.children[5].style.display = "none";
el_ulnav.children[6].style.display = "none";


//COPY TO CLIPBOARD

var clipboard = new ClipboardJS('.btn');

clipboard.on('success', () => {
    M.toast({html: 'Copiat!'});
});

clipboard.on('error', () => {
    M.toast({html: 'Copiere nereusita!'});
});



// Send message to poster

document.getElementById("mesaj_client").focus(); 

document.getElementById("mesaj_client").addEventListener("keyup", (event) => {
    
    // On enter key pressed
    if (event.keyCode === 13) {
        event.preventDefault();

        let mesaj = document.getElementById("mesaj_client");
        // let id_anunt = document.location.pathname.split("/")["2"];
        let data = {"mesaj": mesaj.value, "id_anunt": '{{ id_anunt }}'}
        
        if (data.mesaj != ""){

            mesaj.value = "";

            console.log("Sent: ", data);
            
            m.request({
                method: "GET",
                url: "/anunturi/chirias/",
                data: data
            }).then((response) => {
                if (response.status === 200) {
                    M.toast({html: 'Mesajul a fost trimis!'});
                }else {
                    M.toast({html: 'Mesajul nu a fost trimis!', classes:"red lighten-1"});
                }
            });

        }else {
            M.toast({html: 'Nu ai scris nimic!'});
        }

    }


    
    
}, false);















}, false);







</script>










{% endblock %}