/* Some scoped css */

.w640 {
    max-width: 540px;
    min-width: 300px;
    margin-top:2rem;
}

@media (max-width: 420px){
    .w640, #carouselContainer {
        width: 100vw;
    }
}


main {
    display: block;
    margin: 0 auto;
}


span.badge.new, 
span.badge
{
    position: relative;
    top: unset;
    left: unset;
    color: white;
    font-weight: 300;
    font-size: 0.8rem;
}


#mesaje, #chat-window {
    display: block;
    height: 300px;
    overflow: auto;
}