{% extends "base.html" %}
{% load static %}

{% block content %}
  
<h5 class="blue-grey-text text-darken-1 bold">Adauga anunt</h5>
<div class="divider"></div>


<form method="POST" enctype="multipart/form-data" action="{% url 'adauga' %}">
{% csrf_token %}


<div class="row">

    {% for radio in form.tip_inchiriere %}
        <div class="input-field col s12 m6">
            <label>
                {{ radio.tag }}
                <span title="ofer camere in imobil" class="blue-grey-text text-darken-2 flow-text bold">{{ radio.choice_label }}</span>
            </label>
        </div>
    {% endfor %}
</div>


<div class="divider" style="margin-top:3rem;margin-bottom:2rem;"></div>

<div class="row">
    <div class="input-field col s12 m4">
        {{ form.localitate }}
        <label for="id_localitate">{{ form.localitate.label }}</label>
    </div>
    
    <div class="input-field col s12 m4">
        {{ form.zona }}
        <label for="id_zona">{{ form.zona.label }}</label>
    </div>    
    
    <div class="input-field col s12 m4">
        {{ form.pret }}
        <label for="id_pret">{{ form.pret.label }} &euro;/ Lunar</label>
    </div>          
</div>


<div class="row">
    <div class="input-field col s12 m4">
        {{ form.tip_imobil }}
        <label>Apartament/Casa/Vila</label>
    </div>

    <div class="input-field col s12 m4">
        {{ form.camere_libere }}
        <label>{{ form.camere_libere.label }}</label>
    </div>

    <div class="input-field col s12 m4">
        {{ form.camere_ocupate }}
        <label>{{ form.camere_ocupate.label }}</label>
    </div>

    <div class="input-field col s12 m4">
        {{ form.compartimentare }}
        <label>{{ form.compartimentare.label }}</label>
    </div>

    <div class="input-field col s12 m8">
        {{ form.facilitati }}
        <label>Facilitati</label>
    </div>

    <div class="input-field col s12">
        {{ form.descriere_anunt }}
        <label>{{ form.descriere_anunt.label }}</label>
    </div>


    <div class="file-field input-field col s12 m6">
        <div class="btn">
            <span><i class="material-icons">image</i></span>
            {{ form.img1 }}
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="principala">
        </div>
    </div>


    <div class="file-field input-field col s12 m6">
        <div class="btn">
            <span><i class="material-icons">image</i></span>
            {{ form.img2 }}
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="aditionala">
        </div>
    </div>


    <div class="file-field input-field col s12 m6">
        <div class="btn">
            <span><i class="material-icons">image</i></span>
            {{ form.img3 }}
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="aditionala">
        </div>
    </div>


    <div class="file-field input-field col s12 m6">
        <div class="btn">
            <span><i class="material-icons">image</i></span>
            {{ form.img4 }}
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="aditionala">
        </div>
    </div>

</div>


<div class="block center-align flex-center">
    <div style="margin-bottom:3rem;"></div>
    
    <button type="submit" class="btn-large waves-effect waves-light green lighten-1 mbot-2 bold">Posteaza anuntul</button>
    
    <div style="margin-bottom:1rem;"></div>
    
    <label>
        <input type="checkbox" class="filled-in" checked/>
        <span>Sunt de acord cu <a href="#" class="blue-grey-text underline">Termenii şi Condiţiile</a></span>
    </label>         
</div>

<div style="margin-bottom:3rem;"></div>


</form>







<script src="{% static 'anunturi/scripts.js' %}"></script>
<link rel="stylesheet" href="{% static 'anunturi/styles.css' %}">

{% endblock %}






<form method="POST" enctype="multipart/form-data" action="{% url 'adauga' %}">
{% csrf_token %}


<div class="row">

    {% for radio in form.tip_inchiriere %}
        <div class="input-field col s12 m6">
            <label>
                {{ radio.tag }}
                <span title="ofer camere in imobil" class="blue-grey-text text-darken-2 flow-text bold">{{ radio.choice_label }}</span>
            </label>
        </div>
    {% endfor %}
</div>


<div class="divider" style="margin-top:3rem;margin-bottom:2rem;"></div>

<div class="row">
    <div class="input-field col s12 m4">
        {{ form.localitate }}
        <label for="id_localitate">{{ form.localitate.label }}</label>
    </div>
    
    <div class="input-field col s12 m4">
        {{ form.zona }}
        <label for="id_zona">{{ form.zona.label }}</label>
    </div>    
    
    <div class="input-field col s12 m4">
        {{ form.pret }}
        <label for="id_pret">{{ form.pret.label }} &euro;/ Lunar</label>
    </div>          
</div>


<div class="row">
    <div class="input-field col s12 m4">
        {{ form.tip_imobil }}
        <label>Apartament/Casa/Vila</label>
    </div>

    <div class="input-field col s12 m4">
        {{ form.camere_libere }}
        <label>{{ form.camere_libere.label }}</label>
    </div>

    <div class="input-field col s12 m4">
        {{ form.camere_ocupate }}
        <label>{{ form.camere_ocupate.label }}</label>
    </div>

    <div class="input-field col s12 m4">
        {{ form.compartimentare }}
        <label>{{ form.compartimentare.label }}</label>
    </div>

    <div class="input-field col s12 m8">
        {{ form.facilitati }}
        <label>Facilitati</label>
    </div>

    <div class="input-field col s12">
        {{ form.descriere_anunt }}
        <label>{{ form.descriere_anunt.label }}</label>
    </div>


    <div class="file-field input-field col s12 m6">
        <div class="btn">
            <span><i class="material-icons">image</i></span>
            {{ form.img1 }}
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="principala">
        </div>
    </div>


    <div class="file-field input-field col s12 m6">
        <div class="btn">
            <span><i class="material-icons">image</i></span>
            {{ form.img2 }}
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="aditionala">
        </div>
    </div>


    <div class="file-field input-field col s12 m6">
        <div class="btn">
            <span><i class="material-icons">image</i></span>
            {{ form.img3 }}
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="aditionala">
        </div>
    </div>


    <div class="file-field input-field col s12 m6">
        <div class="btn">
            <span><i class="material-icons">image</i></span>
            {{ form.img4 }}
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="aditionala">
        </div>
    </div>

</div>


<div class="block center-align flex-center">
    <div style="margin-bottom:3rem;"></div>
    
    <button type="submit" class="btn-large waves-effect waves-light green lighten-1 mbot-2 bold">Posteaza anuntul</button>
    
    <div style="margin-bottom:1rem;"></div>
    
    <label>
        <input type="checkbox" class="filled-in" checked/>
        <span>Sunt de acord cu <a href="#" class="blue-grey-text underline">Termenii şi Condiţiile</a></span>
    </label>         
</div>

<div style="margin-bottom:3rem;"></div>


</form>
