{% extends "base.html" %}
{% load static %}

{% block content %}


<div id="carouselContainer">
    <h6 class="flow-text bold">
            {{anunt.tip_imobil}} 
            {% if anunt.camere_libere == '1' %}
                {{ anunt.camere_libere }} camera. 
            {% else %}{{ anunt.camere_libere }} camere.  
            {% endif %}
            {{ anunt.localitate }}, {{ anunt.zona }} 
            <span class="euro green-text">/{{ anunt.pret }} </span>
    </h6>
    
    <div class="carousel carousel-slider center">
        <div class="carousel-fixed-item center middle">
            <i id="prev" class="material-icons left">chevron_left</i>
            <i id="next" class="material-icons right">chevron_right</i>
        </div>
        <img class="carousel-item" src="https://picsum.photos/650/753/?random">
        <img class="carousel-item" src="https://picsum.photos/700/753/?random">
        <img class="carousel-item" src="https://picsum.photos/700/753/?random">
        <img class="carousel-item" src="https://picsum.photos/900/753/?random">
    </div>
    <span class="blue-grey-text text-darken-2 badge default right">Postat la {{ anunt.published_date|date:"d M Y" }}, {{ anunt.published_date|time:"H:i" }}</span>
</div>






































<style>

.middle {
    position: absolute;
    top: 45%;
}

.material-icons {cursor: pointer;}
.carousel-item {object-fit: contain;}

#prev, #next {
    font-size: 4.2rem;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

#carouselContainer {
    max-height: 400px;
    min-height: 180px;
    min-width: 300px;
    max-width: 640px;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

</style>

<script src="{% static 'materialize.js' %}"></script>

<script>
// Specific scripts for current app
"use strict";


document.addEventListener('DOMContentLoaded', () => {
    let carouselElems = document.querySelector('.carousel.carousel-slider');
    let carouselInstance = M.Carousel.init(carouselElems, {
            fullWidth: true,
            indicators: false
        });
}, false);


document.getElementById("next").addEventListener("click", () => {
    let elems = document.querySelector('.carousel.carousel-slider');
    let moveRight = M.Carousel.getInstance(elems);
    moveRight.next();
}, false);

document.getElementById("prev").addEventListener("click", () => {
    let elems = document.querySelector('.carousel.carousel-slider');
    let moveLeft = M.Carousel.getInstance(elems);
    moveLeft.prev();
}, false);


// Split facilitati into individual chips

try {

let facilitati = document.getElementById("facilitati").innerText.split(",");
let other_details = document.getElementById("other-details");

for(let i=0; i < facilitati.length; i++){
    
    let div = document.createElement('div');
    div.className += "chip blue-grey darken-2 white-text";
    div.innerText = facilitati[i];
    other_details.appendChild(div);

    // <div class="chip blue-grey darken-2 white-text">{{ anunt.get_tip_imobil_display }}</div>
}

document.getElementById("facilitati").remove();
    
} catch (error) {

}

</script>

{% endblock %}