{% extends "base.html" %}
{% load static %}

{% block content %}



<div id="carouselContainer">

    <h6 class="blue-grey-text text-darken-2 flow-text bold">
        {{anunt.tip_imobil}} 
        {% if anunt.camere_libere == '1' %}
            {{ anunt.camere_libere }} camera. 
        {% else %}{{ anunt.camere_libere }} camere.  
        {% endif %}
        {{ anunt.localitate }}, {{ anunt.zona }} 
        <span class="euro green-text">/{{ anunt.pret }} </span>
    </h6>

    <div class="carousel carousel-slider center">
        <div class="carousel-fixed-item center middle">
            <i id="prev" class="material-icons left">chevron_left</i></a> 
            <i id="next" class="material-icons right">chevron_right</i></a> 
        </div>

        <img class="carousel-item" src="https://picsum.photos/650/753/?random">
        <img class="carousel-item" src="https://picsum.photos/700/753/?random">
        <img class="carousel-item" src="https://picsum.photos/700/753/?random">
        <img class="carousel-item" src="https://picsum.photos/900/753/?random">

    </div>

    <span class="blue-grey-text text-darken-2 badge default right">Postat la {{ anunt.published_date|date:"d M Y" }}, {{ anunt.published_date|time:"H:i" }}</span>
    
</div>



<div class="card blue-grey lighten-5 w640">
    <div class="card-content flex-center">

        <img class="circle" src="/media/{{ postat_de.imagine }}" onerror="this.src='http://placeskull.com/100/100/4caf50'">
        <span class="card-title">
            {% if postat_de.first_name  %} 
                {{ postat_de.first_name }}
            {% else %}
                <span id="fname">{{ postat_de.email }}</span>
                <script>
                    let fname = document.getElementById("fname");
                    let name = fname.innerText.split("@")[0];
                    fname.innerText = name;
                </script>
            {% endif %}
        </span>
        <span>
            {% if utilizator_share.ocupatie %}
                {{ utilizator_share.ocupatie }}, 
            {% endif %}

            {% if utilizator_share.sex %}
                {{ utilizator_share.sex }},
            {% endif %}

            {% if utilizator_share.varsta %}
                {{ utilizator_share.varsta }} ani 
            {% endif %}
        </span>
    
        <div class="line blue-grey darken-2" style="margin-top:0.5rem;width:100%;"></div>  

        {% if anunt.descriere_anunt  %}
            <h6>{{ anunt.descriere_anunt }}</h6>
        {% else %}
            <h6>Utilizatorul nu a pus nici o descriere.</h6>
        {% endif %}

    </div>
    <div class="card-action">
        <div class="row">
            {% if postat_de.telefon %}
                <div class="col s12 m4">
                    <div style="margin-top: 1rem;">
                        <button style="width: 100%" data-clipboard-text="{{ postat_de.telefon }}" class="btn waves-effect waves-light bold tooltipped" data-position="top" data-tooltip="click pentru copy"><i class="tiny material-icons">phone</i></button>
                    </div>
                </div>
            {% else %}
                <div class="col s12 m4">
                    <div style="margin-top: 1rem;">
                        <button disabled style="width: 100%" data-clipboard-text="{{ postat_de.telefon }}" class="btn waves-effect waves-light bold tooltipped" data-position="top" data-tooltip="click pentru copy"><i class="tiny material-icons">phone</i></button>
                    </div>
                </div>
            {% endif %}

            <div class="col s12 m4">
                <div style="margin-top: 1rem;">
                    <button style="width: 100%" data-clipboard-text="{{ postat_de.email }}" class="btn waves-effect waves-light bold tooltipped" data-position="top" data-tooltip="click pentru copy"><i class="tiny material-icons">email</i></button>
                </div>                
            </div>

            <div class="col s12 m4">
                <div style="margin-top: 1rem;">
                    <button style="width: 100%" class="btn waves-effect waves-light bold tooltipped" data-position="top" data-tooltip="trimite un mesaj"><i class="tiny material-icons">message</i></button>
                </div>                
            </div>

        </div>
    </div>
</div>


<div class="card blue-grey lighten-5 w640">
    <div id="other-details" class="card-content">
        <span class="card-title activator">Alte detalii<i class="material-icons right">more_vert</i></span>
        <div class="line blue-grey darken-2" style="margin-bottom:1rem;"></div>
        <div class="chip blue-grey darken-2 white-text">{{ anunt.get_tip_imobil_display }}</div>
        {% ifnotequal anunt.get_compartimentare_display "Altceva"  %}
            <div class="chip blue-grey darken-2 white-text">{{ anunt.get_compartimentare_display }}</div>
        {% endifnotequal %}
        <div class="chip blue-grey darken-2 white-text">{{ anunt.camere_libere }} {% ifequal anunt.camere_libere "1"  %} camera libera {% else %} camere libere {% endifequal %}</div>
        <div class="chip blue-grey darken-2 white-text">{{ anunt.camere_ocupate }} {% ifequal anunt.camere_ocupate "1"  %} camera ocupata {% else %} camere ocupate {% endifequal %}</div>
        <div class="chip blue-grey darken-2 white-text" id="facilitati">{{ anunt.facilitati }}</div>
    </div>

    <div class="card-reveal blue-grey lighten-5">
        <span class="card-title grey-text text-darken-4">Alte detalii<i class="material-icons right">close</i></span>
        <p>Aici gasesti informatii cheie scoase din descrierea anuntului</p>
    </div>

</div>


<div class="card blue-grey lighten-5 w640">
    <div class="card-content">
        <span class="card-title activator">Colegi de share<i class="material-icons right">more_vert</i></span>
        <div class="line blue-grey darken-2" style="margin-bottom:1rem;"></div>
              
        <div id="colegideshare" class="progress">
            <div class="indeterminate"></div>
        </div>

    </div>

    <div class="card-reveal blue-grey lighten-5">
        <span class="card-title grey-text text-darken-4">Colegi de share<i class="material-icons right">close</i></span>
        <p>Aici sunt afisati cei care ar vrea sa imparta chiria pentru acest imobil cu alti colegi. Click pe buttonul "+"
            daca ai vrea si tu sa imparti chiria cu altii pentru acest imobil. Un mesaj va fi trimis automat catre cei care au optat(daca sunt).
        </p>
    </div>

</div>




<style>

main {
    display: block;
    margin: 0 auto;
}

.middle {
    position: absolute;
    top: 45%;
}

.material-icons {cursor: pointer;}
.carousel-item {object-fit: contain;}

#prev, #next {
    font-size: 4.2rem;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

#carouselContainer {
    max-height: 400px;
    min-height: 180px;
    min-width: 300px;
    max-width: 640px;
    margin-bottom: 5rem;
    margin-top: 2rem;
}

.w640 {
    max-width: 640px;
    min-width: 300px;
    margin-top:2rem;
}

footer {
    margin-top: 4rem; 
}

@media (max-width: 639px){
    .w640, #carouselContainer {
        width: 100vw;
    }
}


</style>



<script src="{% static 'clipboard.min.js' %}"></script>

<script>
"use strict";

//Carousel functions
document.addEventListener('DOMContentLoaded', () => {
    let carouselElems = document.querySelector('.carousel.carousel-slider');
    let carouselInstance = M.Carousel.init(carouselElems, {
            fullWidth: true,
            indicators: false
        });
}, false);


document.getElementById("next").addEventListener("click", () => {
    let elems = document.querySelector('.carousel.carousel-slider');
    let moveRight = M.Carousel.getInstance(elems);
    moveRight.next();
}, false);

document.getElementById("prev").addEventListener("click", () => {
    let elems = document.querySelector('.carousel.carousel-slider');
    let moveLeft = M.Carousel.getInstance(elems);
    moveLeft.prev();
}, false);


// Split facilitati into individual chips
document.addEventListener('DOMContentLoaded', () => {

    let facilitati = document.getElementById("facilitati").innerText.split(",");
    let other_details = document.getElementById("other-details");

    for(let i=0; i < facilitati.length; i++){
        
        let div = document.createElement('div');
        div.className += "chip blue-grey darken-2 white-text";
        div.innerText = facilitati[i];
        other_details.appendChild(div);
        // <div class="chip blue-grey darken-2 white-text">{{ anunt.get_tip_imobil_display }}</div>
    }
    document.getElementById("facilitati").remove();

}, false);


//COPY TO CLIPBOARD

var clipboard = new ClipboardJS('.btn');

clipboard.on('success', () => {
    M.toast({html: 'Copiat!'});
});

clipboard.on('error', (e) => {
    M.toast({html: 'Copiere nereusita!'});
});


// Create colegi de share chips

document.addEventListener("DOMContentLoaded", () => {
    let root = document.getElementById("colegideshare");
    let id_anunt = document.location.pathname.split("/")["2"];

    m.request({
        method: "GET",
        url: `/anunturi/sheriasi/${id_anunt}`,
    }).then((response) => {
        
        root.classList = [];

        if (response.status === 200) {
            colegideshare = response.colegideshare;
            // console.log("colegideshare", colegideshare);
            
            if (!(response.current_user_added)) {
                console.log("this user is not in sheriasi");
                // <button class="btn-floating btn waves-effect waves-light green tooltipped" data-position="top" data-tooltip="click pe button daca ai vrea sa imparti chiria pentru acest imobil"><i class="material-icons">add</i></button>
                const Add = {
                    view: () => {
                        return m('button', {onclick: () => {
                            console.log('adauga ma la share!');
                        }, "class":"btn-floating btn waves-effect waves-light green tooltipped",
                            "data-position": "top",
                            "data-tooltip":"click pe button daca ai vrea sa imparti chiria pentru acest imobil"
                            }, [
                                m("i", {"class": "material-icons"}, "add")
                            ])
                    }
                };

                m.mount(root, Add);
                M.Tooltip.init(document.querySelectorAll('.tooltipped'));
                let container_sheriasi = document.createElement('div');
                container_sheriasi.setAttribute("id", "sheriasi");
                root.appendChild(container_sheriasi);
                
                root.getElementsByTagName("button")[0].classList.add("right");
                
            }

            // <a href="#contact-info"><div class="chip blue-grey darken-2 white-text"><img src="http://placeskull.com/100/100/4caf50">Cosmin Tana</div></a> 

            let urlroot = document.baseURI.replace(document.location.pathname, "/cont/utilizator/");
            let id_anunt = document.location.pathname.split("/")["2"];

            const Sherias = {
                    view: () => {
                        return m("div", 
                            colegideshare.map((u) => { return m("a", {href: String(urlroot + u.id + "/" + id_anunt)}, [
                                    m("div", {class: "chip blue-grey darken-2 white-text"}, [
                                        m("img", {src: (u.imagine != "") ? u.imagine : "http://placeskull.com/100/100/4caf50"}),
                                        m("span", (u.first_name != "") ? u.first_name : u.email.split('@')[0])
                                    ])
                                ])

                            })
                        )
                    }
                };

            m.mount(document.getElementById("sheriasi"), Sherias);

        }
        else if (response.status === 204) {
            console.log("no sheriasi just add the add btn");
        }
    });

}, false);





</script>






{% endblock %}