{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="listing-info">
        
    <div class="image-carousel">
        <h6 class="flow-text bold">
                {{anunt.tip_imobil}} {% if anunt.camere_libere == '1' %}{{ anunt.camere_libere }} camera. {% else %}{{ anunt.camere_libere }} camere.  {% endif %}{{ anunt.localitate }}, {{ anunt.zona }} <span class="euro green-text">/{{ anunt.pret }} </span>
            <span class="blue-grey-text text-darken-2 badge default right">Postat la {{ anunt.published_date }}</span>
        </h6>

        <img src="/media/{{ anunt.img1 }}">
        <img src="/media/{{ anunt.img2 }}" onerror="this.remove();">
        <img src="/media/{{ anunt.img3 }}" onerror="this.remove();">
        <img src="/media/{{ anunt.img4 }}" onerror="this.remove();">   
        
        <span class="next"></span>
        <span class="previous"></span>

    </div>



    <div id="contact-info" class="blue-grey lighten-5">
        <a href="#!"><img class="circle waves-effect waves-light" src="/media/{{ utilizator.imagine }}" onerror="this.src='http://placeskull.com/100/100/4caf50'">
        <h6 class="grey-text text-darken-4 bold">
            {% if utilizator.first_name  %} 
                {{ utilizator.first_name }}
            {% else %}
                <span id="fname">{{ utilizator.email }}</span>

                <script>
                    let fname = document.getElementById("fname");
                    let name = fname.innerText.split("@")[0];
                    fname.innerText = name;
                </script>
            {% endif %}
        </h6>

        <span style="display: block;">
            {% if utilizator.sex %}
                {{ utilizator.sex }} 
            {% else %} 
               ?
            {% endif %}, 
            
            {% if utilizator.varsta %}
                {{ utilizator.varsta }} ani 
            {% else %} 
                ? ani 
            {% endif %}
        </span>
        </a>

        <div class="line blue-grey darken-2" style="margin-top:0.5rem;width:100%;"></div>  
        
        <div class="row">
            {% if utilizator.telefon %}
                <div style="margin-top: 1rem;" class="col s12">
                    <span class="bold"><i class="tiny material-icons">phone</i> {{ utilizator.telefon }}</span>
                </div>
            {% endif %}
                
            <div style="margin-top: 1rem;" class="col s12">
                <span class="bold"><i class="tiny material-icons">email</i> {{ utilizator.email }}</span>
            </div>
        </div>
        
        <div class="line blue-grey darken-2" style="margin-bottom: 1rem;"></div>  
        <div id="contact">
            {% if user.is_authenticated %}
            
                <label>Scrie mesaj</label>
                <input type="text" name="mesaj_client" id="mesaj_client"/>
                <button class="btn bold" id="trimite-mesaj" style="margin-top:1rem;">Trimite mesaj<i class="material-icons right">send</i></button>
                
                <script>

                    document.getElementById("trimite-mesaj").addEventListener("click", () => {
                        
                        let mesaj = document.getElementById("mesaj_client");
                        let id_anunt = document.location.pathname.split("/")["2"];
                        let data = {"mesaj": mesaj.value, "id_anunt": id_anunt}
                        
                        if (data.mesaj != ""){

                            mesaj.value = "";

                            console.log("Sent: ", data);
                            
                            m.request({
                                method: "GET",
                                url: "/anunturi/chirias/",
                                data: data
                            }).then((response) => {
                                if (response.status === 200) {
                                    M.toast({html: 'Mesajul a fost trimis!'});
                                }else {
                                    M.toast({html: 'Mesajul nu a fost trimis!', classes:"red lighten-1"});
                                }
                            });

                        }else {
                            M.toast({html: 'Nu ai scris nimic!'});
                        }
                        
                    }, false);


                </script>
            
            {% else %}
                <a href="{% url 'autentificare' %}" class="btn green waves-effect waves-light bold">Intra in cont</a>
                <label>Logheaza-te pentru a-i putea trimite un mesaj</label>
            {% endif %}

        </div>
    </div>

    <div id="description" class="blue-grey lighten-5">
        <h6 class="bold">Descriere</h6>
        <div class="line blue-grey darken-2"></div>
        <h6>{{ anunt.descriere_anunt }}</h6>
    </div>

    <!-- JS info highlights extracts -->
    <div id="other-details" class="blue-grey lighten-5">
        <h6 class="bold">Alte detalii</h6>
        <div class="line blue-grey darken-2" style="margin-bottom:1rem;"></div>
        <div class="chip blue-grey darken-2 white-text">{{ anunt.get_tip_imobil_display }}</div>
        <div class="chip blue-grey darken-2 white-text">{{ anunt.get_compartimentare_display }}</div>
        <div class="chip blue-grey darken-2 white-text">{{ anunt.camere_libere }} {% ifequal anunt.camere_libere "1"  %} camera libera {% else %} camere libere {% endifequal %}</div>
        <div class="chip blue-grey darken-2 white-text">{{ anunt.camere_ocupate }} {% ifequal anunt.camere_ocupate "1"  %} camera ocupata {% else %} camere ocupate {% endifequal %}</div>
        <div class="chip blue-grey darken-2 white-text" id="facilitati">{{ anunt.facilitati }}</div>
    </div>


    <div id="colegi-de-share" class="blue-grey lighten-5">
        <h6 class="bold">Colegi de share*</h6>
        <div class="line blue-grey darken-2" style="margin-bottom:1rem;"></div>
        
        <!-- <a href="utilizator.html"><div class="chip blue-grey darken-2 white-text"><img src="../img/alin.jpg">Cosmin Tana</div></a>
        <a href="utilizator.html"><div class="chip blue-grey darken-2 white-text"><img src="../img/alin.jpg">Robert Bucur</div></a> -->
        <button class="btn-floating btn waves-effect waves-light green tooltipped" data-position="top" data-tooltip="click pe button daca ai vrea sa imparti chiria pentru acest imobil"><i class="material-icons">add</i></button>
        <div style="margin-top:3rem;"></div>
        <span class="grey-text text-darken-1">*cei care ar vrea sa imparta chiria pentru acest imobil</span>
    </div>

    </div>










<script src="{% static 'anunturi/scripts.js' %}"></script>
<link rel="stylesheet" href="{% static 'anunturi/styles.css' %}">

{% endblock %}